<div class="card">
  <div class="card-header">
    Filter
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-10">
        <input type="search" name="name" class="form-control" [(ngModel)]="currentAuthor.name" autofocus placeholder="Name">
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-primary" (click)="filter()" *ngIf="!is_editting">Filter</button>
        <button class="btn btn-primary" (click)="save()" *ngIf="is_editting">Save</button>
        <button class="btn btn-danger" (click)="is_editting = false" *ngIf="is_editting">Cancel</button>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>
      <button class="btn btn-success" (click)="is_editting = true">+</button>
    </th>
  </tr>
  <tr *ngFor="let author of authors">
    <td>{{author.id}}</td>
    <td>{{author.name}}</td>
    <td>
      <button class="btn btn-warning mr-2" (click)="edit(author)">Edit</button>
      <button class="btn btn-danger" (click)="delete(author)">Delete</button>
    </td>
  </tr>
</table>
